---
layout: default
title: Debug Information
permalink: /debug/
---

<h1>Debug Information</h1>

<h2>Build Time</h2>
<p>Site time: {{ site.time | date_to_rfc822 }}</p>

<h2>Posts ({{ site.posts.size }} total)</h2>
<ul>
{% for post in site.posts %}
  <li>
    <strong>{{ post.date | date: "%Y-%m-%d" }} - {{ post.title }}</strong><br>
    Path: {{ post.path }}<br>
    URL: {{ post.url }}<br>
    Categories: {{ post.categories | join: ", " }}<br>
    Tags: {{ post.tags | join: ", " }}
  </li>
{% endfor %}
</ul>

<h2>All Files in _posts Directory</h2>
<pre>
{% for file in site.static_files %}
  {% if file.path contains '/_posts/' %}
    {{ file.path }}
  {% endif %}
{% endfor %}
</pre>
